
// grid modifiers for csswizardry-grids

@for $i from 0 through 10 {
  .grid--gutter-#{$i}x .grid__item {
    background-color:red;
    padding-left: $i * 1px !important;
  }
  .grid--gutter-h-#{$i}x .grid__item {
    line-height: 0;
    padding-bottom: $i * 1px !important;
  }
}
