
// represent a proportioned image thumbnail

.o-thumb {
  overflow:hidden;
}

.o-thumb {
  width: 100%;
  /* whatever width you want */
  display: inline-block;
  position: relative;
  z-index: $zIndex-1;
}

// Container proportions

.o-thumb:after {
  padding-top: 100%;
  display: block;
  content: '';
}

// Parametric proportions =)
// For instance,
// o-thumb-10-10 for a 1:1 proportion
// o-thumb-20-10 for a 2:1 proportion
// o-thumb-10-20 for a 1:2 proportion
// o-thumb-17-10 for a 17:10 proportion (kinda like 16:9)

@for $i from 10 through 40 {
  $proportion-vertical: $i/10;
  $proportion-horizontal: 10/$i;

  .o-thumb--10-#{$i}:after {
    padding-top: $proportion-vertical * 100%;
  }
  .o-thumb--#{$i}-10:after {
    padding-top: $proportion-horizontal * 100%;
  }

  @media all and #{$media-desk} {
    .o-thumb--desk-10-#{$i}:after {
      padding-top: $proportion-vertical * 100%;
    }
    .o-thumb--desk-#{$i}-10:after {
      padding-top: $proportion-horizontal * 100% !important;
    }
  }

  @media all and #{$media-portable} {
    .o-thumb--portable-10-#{$i}:after {
      padding-top: $proportion-vertical * 100%;
    }
    .o-thumb--portable-#{$i}-10:after {
      padding-top: $proportion-horizontal * 100% !important;
    }
  }

  @media all and #{$media-palm} {
    .o-thumb--palm-10-#{$i}:after {
      padding-top: $proportion-vertical * 100%;
    }
    .o-thumb--palm-#{$i}-10:after {
      padding-top: $proportion-horizontal * 100% !important;
    }
  }


  @media all and #{$media-lap} {
    .o-thumb--lap-10-#{$i}:after {
      padding-top: $proportion-vertical * 100%;
    }
    .o-thumb--lap-#{$i}-10:after {
      padding-top: $proportion-horizontal * 100% !important;
    }
  }
}

// Elements

.o-thumb__canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #222;
  background-color:rgba(1,1,1,0.05);
  background-size: cover;
  background-position: center;
  z-index: $zIndex-1;
}

// .o-thumb__image {
//   /*Not used*/
//   position:relative;
//   max-width:100%;
//   width:100%;
//   height:auto;
//   opacity:0;
//   z-index: $zIndex-4;
// }

.o-thumb__veil {
  position: absolute;
  display:block;
  width: 100%;
  height: 100%;
  z-index: $zIndex-2;
  /*background-color: rgba(0,0,0,0.05);*/
  @include user-select(none);
}

.o-thumb__label {
    opacity: 0;
    margin: auto;
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    padding: 8px 0;
    //
    height: 50px;
    text-align: center;
  @include user-select(none);
}

.o-thumb__link {
  @include user-select(none);
}

.o-thumb__link:hover .o-thumb__veil {
  background-color: rgba(255,255,255,1.0);
  @include transition(all 0.25s ease-in-out);
}

.o-thumb__link:hover .o-thumb__label {
  opacity: 1.0;
  @include transition(all 0.25s ease-in-out);
}

// MODIFIER: c-project-view

.c-project-view .o-thumb__label {
  line-height: 18px;
  height: 50px;
  font-size: 21px;
  text-align: center;
  color: #222;
  text-transform:uppercase;
  //font-weight:600;
}

.c-project-view .o-thumb__link:hover .o-thumb__label {
  @include transition(all 0.25s ease-in-out);
  color:#000;
  opacity: 1.0;
}

@media #{$media-portable} {
  .c-project-view .o-thumb__label {
    color:#fff;
    opacity: 1;
  }
  .c-project-view .o-thumb__veil {
    background-color: rgba(0,0,0,0.7);
  }
}

// MODIFIER: c-approach__team

.c-approach__team .o-thumb__label {
  height: 50px;
  font-size: 21px;
  text-align: center;
  color: #222;
  //font-weight:600;
}

.c-approach__team  .o-thumb__link:hover .o-thumb__label {
  @include transition(all 0.25s ease-in-out);
  color:#000;
  opacity: 1.0;
}

@media #{$media-portable} {
  .c-approach__team  .o-thumb__label {
    color:#fff;
    opacity: 1;
  }
  .c-approach__team .o-thumb__veil {
    background-color: rgba(0,0,0,0.7);
  }
}
