
/**
 * Utilities: Visibility;
 *
 * v1.0.1 (Nono Martínez Alonso, 150531)
 * 161109 - added !important to override
 */

/*
.u-hidden
.u-hidden-palm
.u-hidden-lap
.u-hidden-portable
.u-hidden-desk

.u-visible-palm
.u-visible-lap
.u-visible-portable
.u-visible-desk
*/

.u-hidden {
	display: none !important;
}

@media all and #{$media-palm} {
	.u-hidden-palm,
	.u-visible-lap {
		display: none !important;
	}
}

@media all and #{$media-lap} {
	.u-hidden-lap,
	.u-visible-palm {
		display: none !important;
	}
}

@media all and #{$media-portable} {
	.u-visible-desk,
	.u-hidden-portable {
		display: none !important;
	}
}

@media all and #{$media-desk} {
	.u-hidden-desk,
	.u-visible-portable,
	.u-visible-palm,
	.u-visible-lap {
		display: none !important;
	}
}
