
$o-notification-color: #333 !default;
$o-notification-opacity: 0.7 !default;
$o-notification-border-bottom: 1px solid rgba(0,0,0,0.15) !default;
$o-notification-font-size: 75% !default;
$o-notification-height: 40px !default;

.o-notification {
  line-height: $o-notification-height;
  border-bottom: $o-notification-border-bottom;
  text-align: center;
  font-size: $o-notification-font-size;
  opacity: $o-notification-opacity;
  color:$o-notification-color;
}
