// [ c-video-thumb ]
$padding-vertical: 27px !default;
.o-video-thumb,
.video-thumb {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-bottom: $padding-vertical;
    cursor: pointer;
}

img.o-video-thumb__mask,
img.video-thumb__mask {
    position: absolute;
    z-index: 1;
    width: 128px;
    height: 128px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto !important;
}

.o-video-thumb__image,
.video-thumb__image {
    width: 100%;
}


/* YouTube */

.o-video-thumb__image--youtube,
.video-thumb__image--youtube {
    margin: -18% -0px -18% -0px!important;
}

.o-video-thumb__image--youtube-custom,
.video-thumb__image--youtube-custom {
    margin: 0!important;
}


/* Vimeo */

.o-video-thumb__image--vimeo,
.video-thumb__image--vimeo {
    margin: -1% -0px -1% -0px!important;
}

.o-video-thumb__image--vimeo-custom,
.video-thumb__image--vimeo-custom {
    margin: 0!important;
}