
$wrap-width: 942px !default;

$wrap-width-tiny: 480px !default;
$wrap-width-small: 680px !default;
$wrap-width-medium: 800px !default;
$wrap-width-big: 1000px !default;
$wrap-width-huge: 1200px !default;
$wrap-width-full: 100%;

$gutters: $gutter * 2;

.o-wrap {
	position:relative;
	max-width: $wrap-width + $gutters;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter;
	padding-right: $gutter;
	//height:100%;
}

.o-wrap--bleed {
	padding-left: 0;
	padding-right: 0;
}

@media all and #{$media-palm} {
	.o-wrap--bleed\@palm {
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and #{$media-desk} {
	.o-wrap--bleed\@desk {
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and #{$media-portable} {
	.o-wrap--bleed\@portable {
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and #{$media-lap} {
	.o-wrap--bleed\@lap {
		padding-left: 0;
		padding-right: 0;
	}
}

.o-wrap--bleed-left {
	padding-left: 0;
}

.o-wrap--bleed-right {
	padding-right: 0;
}

// Modifiers

@for $i from 0 through 20 {
	.o-wrap--gutter-#{$i} {
		padding-left: $i * 1px;
		padding-right: $i * 1px;
	}
}

.o-wrap--tiny {
	max-width: $wrap-width-tiny + $gutters;
}

.o-wrap--small {
	max-width: $wrap-width-small + $gutters;
}

.o-wrap--medium {
	max-width: $wrap-width-medium + $gutters;
}

.o-wrap--big {
	max-width: $wrap-width-big + $gutters;
}

.o-wrap--huge {
	max-width: $wrap-width-huge + $gutters;
}

.o-wrap--full {
	max-width: $wrap-width-full;
}

@media all and #{$media-portable} {
	.o-wrap--portable-small {
		max-width: $wrap-width-small + $gutters;
	}

	.o-wrap--portable-tiny {
		max-width: $wrap-width-tiny + $gutters;
	}
}

@media all and #{$media-palm} {
	.o-wrap--palm-small {
		max-width: $wrap-width-small + $gutters;
	}

	.o-wrap--palm-tiny {
		max-width: $wrap-width-tiny + $gutters;
	}
}

@media all and #{$media-lap} {
	.o-wrap--lap-small {
		max-width: $wrap-width-small + $gutters;
	}

	.o-wrap--lap-tiny {
		max-width: $wrap-width-tiny + $gutters;
	}
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

$o-wrap-slug: 'o-wrap';
$o-wrap-width-module: 50px;

$o-wrap-sizes: (
  'minuscule' 240px,
	'tiny' 330px,
	'mini' 450px,
	'small' 560px,
	'standard' 680px,
	'medium' 780px,
	'big' 980px,
	'huge' 1240px,
	'full' 100%,
) !default;

@each $wrap-size in $o-wrap-sizes {
    //$i: index($colors-list, $current-color);
		$size: nth($wrap-size, 2);
		$name: nth($wrap-size, 1);
		@if $size != 100% {
			$size: $size + $gutters;
		}
		.#{$o-wrap-slug}--size-#{$name} {
        max-width: $size;// + $gutters;
    }
		@media all and #{$media-palm} {
			.#{$o-wrap-slug}--palm-size-#{$name} {
					max-width: $size!important;// + $gutters;
			}
		}
		@media all and #{$media-lap} {
			.#{$o-wrap-slug}--lap-size-#{$name} {
					max-width: $size !important;// + $gutters;
			}
		}
		@media all and #{$media-portable} {
			.#{$o-wrap-slug}--portable-size-#{$name} {
					max-width: $size !important;// + $gutters;
			}
		}
		@media all and #{$media-desk} {
			.#{$o-wrap-slug}--desk-size-#{$name} {
					max-width: $size !important;// + $gutters;
			}
		}
		@media all and #{$media-wide} {
			.#{$o-wrap-slug}--wide-size-#{$name} {
					max-width: $size !important;// + $gutters;
			}
		}
}

@for $i from 1 through 20 {
	$size: $o-wrap-width-module * $i;
	.#{$o-wrap-slug}--size-#{strip-units($size)} {
		max-width: $o-wrap-width-module * $i + $gutters;
	}
	@media all and #{$media-palm} {
		.palm--#{$o-wrap-slug}--size-#{strip-units($size)} {
				max-width: $size!important;// + $gutters;
		}
	}
	@media all and #{$media-lap} {
		.lap--#{$o-wrap-slug}--size-#{strip-units($size)} {
				max-width: $size !important;// + $gutters;
		}
	}
	@media all and #{$media-portable} {
		.portable--#{$o-wrap-slug}--size-#{strip-units($size)} {
				max-width: $size !important;// + $gutters;
		}
	}
	@media all and #{$media-desk} {
		.desk--#{$o-wrap-slug}--size-#{strip-units($size)} {
				max-width: $size !important;// + $gutters;
		}
	}
	@media all and #{$media-wide} {
		.wide--#{$o-wrap-slug}--size-#{strip-units($size)} {
				max-width: $size !important;// + $gutters;
		}
	}
}
