
$o-wrap-class-name: 'o-wrap' !default;
$o-wrap-width-step: 50px;

$o-wrap-width: 942px !default;

$o-wrap-width-tiny: 480px !default;
$o-wrap-width-small: 680px !default;
$o-wrap-width-medium: 800px !default;
$o-wrap-width-big: 1000px !default;
$o-wrap-width-huge: 1200px !default;
$o-wrap-width-full: 100%;

$gutters: $gutter * 2;

.#{$o-wrap-class-name} {
	position:relative;
	max-width: $o-wrap-width + $gutters;
	margin-left: auto;
	margin-right: auto;
	padding-left: $gutter;
	padding-right: $gutter;
}

.#{$o-wrap-class-name}--bleed {
	padding-left: 0;
	padding-right: 0;
}

@media all and #{$media-palm} {
	.#{$o-wrap-class-name}--bleed\@palm {
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and #{$media-desk} {
	.#{$o-wrap-class-name}--bleed\@desk {
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and #{$media-portable} {
	.#{$o-wrap-class-name}--bleed\@portable {
		padding-left: 0;
		padding-right: 0;
	}
}

@media all and #{$media-lap} {
	.#{$o-wrap-class-name}--bleed\@lap {
		padding-left: 0;
		padding-right: 0;
	}
}

.#{$o-wrap-class-name}--bleed-left {
	padding-left: 0;
}

.#{$o-wrap-class-name}--bleed-right {
	padding-right: 0;
}

// Modifiers

@for $i from 0 through 20 {
	.#{$o-wrap-class-name}--gutter-#{$i} {
		padding-left: $i * 1px;
		padding-right: $i * 1px;
	}
}

.#{$o-wrap-class-name}--tiny {
	max-width: $o-wrap-width-tiny + $gutters;
}

.#{$o-wrap-class-name}--small {
	max-width: $o-wrap-width-small + $gutters;
}

.#{$o-wrap-class-name}--medium {
	max-width: $o-wrap-width-medium + $gutters;
}

.#{$o-wrap-class-name}--big {
	max-width: $o-wrap-width-big + $gutters;
}

.#{$o-wrap-class-name}--huge {
	max-width: $o-wrap-width-huge + $gutters;
}

.#{$o-wrap-class-name}--full {
	max-width: $o-wrap-width-full;
}

@media all and #{$media-portable} {
	.#{$o-wrap-class-name}--portable-small {
		max-width: $o-wrap-width-small + $gutters;
	}

	.#{$o-wrap-class-name}--portable-tiny {
		max-width: $o-wrap-width-tiny + $gutters;
	}
}

@media all and #{$media-palm} {
	.#{$o-wrap-class-name}--palm-small {
		max-width: $o-wrap-width-small + $gutters;
	}

	.#{$o-wrap-class-name}--palm-tiny {
		max-width: $o-wrap-width-tiny + $gutters;
	}
}

@media all and #{$media-lap} {
	.#{$o-wrap-class-name}--lap-small {
		max-width: $o-wrap-width-small + $gutters;
	}

	.#{$o-wrap-class-name}--lap-tiny {
		max-width: $o-wrap-width-tiny + $gutters;
	}
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

$o-wrap-sizes: (
  'minuscule' 240px,
	'tiny' 330px,
	'mini' 450px,
	'small' 560px,
	'standard' 680px,
	'medium' 780px,
	'big' 980px,
	'huge' 1240px,
	'full' 100%,
) !default;

@each $o-wrap-size in $o-wrap-sizes {
    //$i: index($colors-list, $current-color);
		$size: nth($o-wrap-size, 2);
		$name: nth($o-wrap-size, 1);
		@if $size != 100% {
			$size: $size + $gutters;
		}
		.#{$o-wrap-class-name}--size-#{$name} {
        max-width: $size;// + $gutters;
    }
		@media all and #{$media-palm} {
			.#{$o-wrap-class-name}--palm-size-#{$name} {
					max-width: $size!important;// + $gutters;
			}
		}
		@media all and #{$media-lap} {
			.#{$o-wrap-class-name}--lap-size-#{$name} {
					max-width: $size !important;// + $gutters;
			}
		}
		@media all and #{$media-portable} {
			.#{$o-wrap-class-name}--portable-size-#{$name} {
					max-width: $size !important;// + $gutters;
			}
		}
		@media all and #{$media-desk} {
			.#{$o-wrap-class-name}--desk-size-#{$name} {
					max-width: $size !important;// + $gutters;
			}
		}
		@media all and #{$media-wide} {
			.#{$o-wrap-class-name}--wide-size-#{$name} {
					max-width: $size !important;// + $gutters;
			}
		}
}

@for $i from 1 through 20 {
	$size: $o-wrap-width-step * $i;
	.#{$o-wrap-class-name}--size-#{strip-units($size)} {
		max-width: $o-wrap-width-step * $i + $gutters;
	}
	@media all and #{$media-palm} {
		.palm--#{$o-wrap-class-name}--size-#{strip-units($size)} {
				max-width: $size!important;// + $gutters;
		}
	}
	@media all and #{$media-lap} {
		.lap--#{$o-wrap-class-name}--size-#{strip-units($size)} {
				max-width: $size !important;// + $gutters;
		}
	}
	@media all and #{$media-portable} {
		.portable--#{$o-wrap-class-name}--size-#{strip-units($size)} {
				max-width: $size !important;// + $gutters;
		}
	}
	@media all and #{$media-desk} {
		.desk--#{$o-wrap-class-name}--size-#{strip-units($size)} {
				max-width: $size !important;// + $gutters;
		}
	}
	@media all and #{$media-wide} {
		.wide--#{$o-wrap-class-name}--size-#{strip-units($size)} {
				max-width: $size !important;// + $gutters;
		}
	}
}
