//  ██████╗    ██████╗     ███████╗    ██████╗     ██╗    ████████╗    ███████╗
// ██╔════╝    ██╔══██╗    ██╔════╝    ██╔══██╗    ██║    ╚══██╔══╝    ██╔════╝
// ██║         ██████╔╝    █████╗      ██║  ██║    ██║       ██║       ███████╗
// ██║         ██╔══██╗    ██╔══╝      ██║  ██║    ██║       ██║       ╚════██║
// ╚██████╗    ██║  ██║    ███████╗    ██████╔╝    ██║       ██║       ███████║
//  ╚═════╝    ╚═╝  ╚═╝    ╚══════╝    ╚═════╝     ╚═╝       ╚═╝       ╚══════╝

$credits-tag: '.c-credits-v2' !default;

#{$credits-tag} {
  font-size: var(--font-s);
  color: var(--color-mid);
}

#{$credits-tag} a {
  color: var(--color-mid);
}

#{$credits-tag} a:hover {
  color: var(--color-link);
  text-decoration-color: var(--color-link);
}