// ███████╗    ██████╗     ██████╗    ████████╗   ███████╗   ██████╗ 
// ██╔════╝   ██╔═══██╗   ██╔═══██╗   ╚══██╔══╝   ██╔════╝   ██╔══██╗
// █████╗     ██║   ██║   ██║   ██║      ██║      █████╗     ██████╔╝
// ██╔══╝     ██║   ██║   ██║   ██║      ██║      ██╔══╝     ██╔══██╗
// ██║        ╚██████╔╝   ╚██████╔╝      ██║      ███████╗   ██║  ██║
// ╚═╝         ╚═════╝     ╚═════╝       ╚═╝      ╚══════╝   ╚═╝  ╚═╝

$footer-tag: '.c-footer-v2' !default;

#{$footer-tag}--left .o-wrap {
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

#{$footer-tag}--border-top {
  padding-top: 4rem;
  border-top: 1px solid var(--color-dim);
}