// ██╗  ██╗    ███████╗     █████╗     ██████╗     ███████╗    ██████╗
// ██║  ██║    ██╔════╝    ██╔══██╗    ██╔══██╗    ██╔════╝    ██╔══██╗
// ███████║    █████╗      ███████║    ██║  ██║    █████╗      ██████╔╝
// ██╔══██║    ██╔══╝      ██╔══██║    ██║  ██║    ██╔══╝      ██╔══██╗
// ██║  ██║    ███████╗    ██║  ██║    ██████╔╝    ███████╗    ██║  ██║
// ╚═╝  ╚═╝    ╚══════╝    ╚═╝  ╚═╝    ╚═════╝     ╚══════╝    ╚═╝  ╚═╝

$header-tag: "header.header-v1" !default;
$header-link-style: mono !default; // mono, accent

#{$header-tag} > nav[role="navigation"] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--spacing-m) 0;
  border-bottom: 1px solid var(--color-dim);

  @media all and #{$media-portable} {
    & {
      flex-direction: column;
    }
  }
}

#{$header-tag} > nav[role="navigation"] .logo {
  @media all and #{$media-portable} {
    & {
      margin-bottom: 1rem;
    }
  }
}

#{$header-tag} > nav[role="navigation"] .logo svg {
  display: block;
  width: 2.7em;
  fill: var(--color-base);
}

#{$header-tag} > nav[role="navigation"] .item:hover,
#{$header-tag} > nav[role="navigation"] .logo:hover svg,
#{$header-tag} > nav[role="navigation"] .item.item--dropdown a:hover,
#{$header-tag} > nav[role="navigation"] .item.item--dropdown a.dropdown__link:hover {
  @if $header-link-style == accent {
    fill: var(--color-accent);
    color: var(--color-accent);
  } @else if $header-link-style == mono {
    fill: var(--color-mid);
    color: var(--color-mid);
  }
}

#{$header-tag} > nav[role="navigation"] .item,
#{$header-tag} > nav[role="navigation"] .item a {
  text-decoration: none;
  display: inline-block;
}

#{$header-tag} > nav[role="navigation"] .item {
  color: var(--color-base);
  @include font-sans-scaled(var(--font-default));
}

#{$header-tag}:not(.flip) > nav[role="navigation"] .item:not(:last-child) {
  margin-right: 0.9rem;
}

// Flip modifier

@media all and #{$media-desk} {
  #{$header-tag}.flip > nav[role="navigation"] {
    flex-direction: row-reverse;
  }

  #{$header-tag}.flip > nav[role="navigation"] .item:not(:first-child) {
    margin-left: 0.9rem;
  }
}

/* Dropdown */

#{$header-tag} > nav[role="navigation"] .item.item--dropdown {
  position: relative;
}

#{$header-tag} > nav[role="navigation"] .item.item--dropdown:hover .dropdown {
  display: block;
}

#{$header-tag} > nav[role="navigation"] .item.item--dropdown a.link {
  position: relative;
  z-index: $zIndex-1;
}

#{$header-tag} > nav[role="navigation"] .dropdown {
  position: absolute;
  display: none;
  background-color: var(--color-bg);
  top: -12px;
  left: -10px;
  right: -10px;
  text-align: center;
  border-radius: 3px;
  padding: 0.3rem 0;
  padding-top: 2.15rem;
  box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.08);
}

#{$header-tag} > nav[role="navigation"] .item.item--dropdown .dropdown__link {
  padding: 0.3rem 0;
  @include font-sans-scaled(var(--font-s));
  width: 100%;
}

#{$header-tag} > nav[role="navigation"] .item.item--dropdown .dropdown__link span {
  color: var(--color-mid);
}