

#{$article-tag}>header.border-bottom {
  border-bottom: 1px solid var(--color-dim);
}

#{$article-tag}>header.headline {
  margin: 20vh auto;
}



#{$article-tag}>.body>p
#{$article-tag}>.body>ul,
#{$article-tag}>.body>ol {
  font-size: var(--font-size);
  line-height: calc(1em + 6px);
  letter-spacing: -0.008em;
  margin-block-start: 1.2rem;
  margin-block-end: 1.2rem;
}

// #{$article-tag}>.body>ul,
// #{$article-tag}>.body>ol {
  // margin-left: 0;
  // padding-left: 30px;
// }

// #{$article-tag}>.body>ul {
//   list-style-type: none;
// }

// #{$article-tag}>.body>ol,
// #{$article-tag}>.body>*:not(.footnotes) ol {
//   // list-style-position: inside;
//   border: 1px solid #eaeaea;
// }

// #{$article-tag}>.body ul>li:before {
//   content: "– ";
// }






// Modifier - big font

#{$article-tag}.sans>.body>p {
  font-family: var(--font-sans);
}

#{$article-tag}.zoom>header>h1 {
  font-size: 2.5rem;
}