//  █████╗     ██████╗     ████████╗    ██╗     ██████╗    ██╗         ███████╗
// ██╔══██╗    ██╔══██╗    ╚══██╔══╝    ██║    ██╔════╝    ██║         ██╔════╝
// ███████║    ██████╔╝       ██║       ██║    ██║         ██║         █████╗
// ██╔══██║    ██╔══██╗       ██║       ██║    ██║         ██║         ██╔══╝
// ██║  ██║    ██║  ██║       ██║       ██║    ╚██████╗    ███████╗    ███████╗
// ╚═╝  ╚═╝    ╚═╝  ╚═╝       ╚═╝       ╚═╝     ╚═════╝    ╚══════╝    ╚══════╝

$article-tag: "article.item-v3" !default;
$article-debug: false !default;
$article-link-text-decoration: underline !default;
$article-link-style: mono !default; // mono, accent, or accent-all

/* Children */

#{$article-tag} *:not(.full):not(img):not(video):not(audio):not(li) {
  max-width: var(--spacing-max-width);
}

#{$article-tag}.center *:not(.full):not(video):not(audio):not(li) {
  margin-left: auto;
  margin-right: auto;
}

/* Body */

// #{$article-tag} {
//   position: relative;
// }

#{$article-tag} > .body {
  position: relative;
}

/* Paragraph */

#{$article-tag} > .body > p,
#{$article-tag} > .body > ul,
#{$article-tag} > .body > ol {
  font-family: var(--font-serif);
  hyphens: auto;
}

/* Aside */

#{$article-tag} p.aside {
  @include font-sans-scaled(var(--font-s));
  color: var(--color-mid);
  line-height: var(--font-line-height);
}

/* Header */

#{$article-tag} > header {
  display: flex;
  flex-direction: column;
  max-width: var(--spacing-max-width);
  margin: 10vh 0;
}

#{$article-tag} > header h1 {
  width: 100%;
  font-size: 1rem;
  margin: 0;
  letter-spacing: -0.005em;
}

#{$article-tag} > header p {
  font-family: var(--font-serif);
  width: 100%;
  margin: 0;
  font-size: var(--font-default);
  color: var(--color-mid);
  margin-block-start: 0.2rem;
}

#{$article-tag} > header time {
  width: 100%;
  display: block;
  line-height: 2;
  color: var(--color-mid);
}

#{$article-tag}>header.hero {
  h1 {
    font-size: 2.5rem;
    letter-spacing: -0.045em;
    text-align: center;

    @media all and #{$media-lap} {
      font-size: 2rem;
    }
    @media all and #{$media-palm} {
      font-size: 1.5rem;
    }
  }
  p {
    font-family: var(--font-sans);
    font-size: var(--font-default);
    text-align: center;
    margin-block-start: 1rem;
    letter-spacing: -0.03em;
  }
}

/* Headers */

#{$article-tag} {
  h1,
  h2 {
    font-weight: 600;
  }

  h1,
  h2,
  h3 {
    font-size: 1rem;
  }

  h3 {
    color: var(--color-mid);
    font-weight: 400;
  }

  h2,
  h3 {
    margin-block-end: 1rem;
    margin-block-start: 1rem;
  }

  h4,
  h5,
  h6 {
    font-weight: 600;
    font-family: var(--font-serif);
  }
}

/* Horizontal rules */

#{$article-tag} hr {
  margin: var(--spacing-xl) 0;
  max-width: none;
  border: none;

  @media screen and #{$media-desk} {
    & {
      max-width: var(--spacing-max-width);
    }
  }
}

#{$article-tag} hr::after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 0;
  width: 10rem;
  border-bottom: 1px solid var(--color-dim);
}

#{$article-tag}.center hr {
  margin: var(--spacing-xl) auto;
}

/* Links */

#{$article-tag} a {
  text-decoration: $article-link-text-decoration;
  text-decoration-thickness: 0.1rem;
}

#{$article-tag} .footnotes a,
#{$article-tag} figure figcaption a {
  color: var(--color-mid);
  text-decoration: underline;
}

@if $article-link-style == accent {

  #{$article-tag} a {
    color: var(--color-accent);
    text-decoration-color: var(--color-accent);
  }
  
  #{$article-tag} a:hover {
    color: var(--color-mid);
    text-decoration-color: var(--color-mid);
  }
  
  #{$article-tag} .footnotes a:hover,
  #{$article-tag} figure figcaption a:hover {
    color: var(--color-base);
    text-decoration-color: var(--color-base);
  }  

} @else if $article-link-style == accent-all {

  #{$article-tag} a {
    color: var(--color-accent);
    text-decoration-color: var(--color-accent);
  }
  
  #{$article-tag} a:hover {
    color: var(--color-mid);
    text-decoration-color: var(--color-mid);
  }
  
  #{$article-tag} .footnotes a:hover,
  #{$article-tag} figure figcaption a:hover {
    color: var(--color-accent);
    text-decoration-color: var(--color-accent);
  }  

} @else if $article-link-style == mono {

  #{$article-tag} a {
    color: var(--color-base);
    text-decoration-color: var(--color-base);
  }
  
  #{$article-tag} a:hover {
    color: var(--color-mid);
    text-decoration-color: var(--color-mid);
  }
  
  #{$article-tag} .footnotes a:hover,
  #{$article-tag} figure figcaption a:hover {
    color: var(--color-base);
    text-decoration-color: var(--color-base);
  }  

}



// #{$article-tag} a:hover,
// #{$article-tag} figure figcaption a:hover {
//   color: var(--color-mid);
//   text-decoration-color: var(--color-mid);
// }

/* Blockquotes */

#{$article-tag} blockquote {
  quotes: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

#{$article-tag} blockquote sup a {
  color: var(--color-mid);
}

#{$article-tag} blockquote a {
  color: var(--color-mid);
}

#{$article-tag} blockquote p {
  max-width: none;
  border-left: 1px solid var(--color-dim);
  padding-left: 1.5rem;
  @include font-sans-scaled(var(--font-default));
  color: var(--color-mid);
}

/* Images */

#{$article-tag} .body > img {
  margin: 5rem auto;
  display: block;
  width: 100%;
  // max-width: calc(10rem + var(--spacing-max-width));
  max-width: var(--spacing-max-width);
}

/* Figures */

#{$article-tag} figure/*:not(.full)*/ {
  margin: 5rem 0;
  max-width: none;
  @media screen and #{$media-desk} {
    & {
      max-width: var(--spacing-max-width);
    }
  }
}

#{$article-tag} figure img,
#{$article-tag} figure video {
  width: 100%;
}

#{$article-tag} figure.border img,
#{$article-tag} figure.border video {
  border: 1px solid #eaeaea;
}

#{$article-tag} figure figcaption {
  margin-top: 0.25rem;
  font-size: var(--font-s);
  color: var(--color-mid);
}

#{$article-tag} figure figcaption a {
  color: var(--color-mid);
  text-decoration: underline;
}

// figure.limit

#{$article-tag} figure.limit {
  margin: var(--spacing-l) 0;
  margin-left: 0;
  width: clamp(10rem, 100%, 15rem);
}

#{$article-tag} figure.limit img {
  max-width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#{$article-tag} figure.limit figcaption {
  max-width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}

// figure.cover

#{$article-tag} figure.cover {
  max-width:50rem;
  margin-top:0;
}

// figure.fade - adds contrast with background

#{$article-tag} figure.fade {
  filter:brightness(0.97);
}

// figure.center

#{$article-tag} figure.center figcaption,
#{$article-tag} figure.center img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

$article-image-full-overflow: 6.5rem;

@media all and #{$media-desk} {

  #{$article-tag} figure.full {
    max-width: none;
    width: calc( var(--spacing-max-width) + #{$article-image-full-overflow} * 2 );
  }

  #{$article-tag} figure.full figcaption {
    margin-left: 0;
    width: calc( var(--spacing-max-width) + #{$article-image-full-overflow} * 2 );
    max-width: 100%;
  }

  #{$article-tag}.center figure.full {
    margin-left: - $article-image-full-overflow;
  }

}

// this seems to be repeated
// #{$article-tag}.center>.body>figure {
//   margin: 5rem auto;
// }

/* Superscript */

#{$article-tag} sup {
  line-height: 0;
  @include font-sans-scaled(var(--font-xs));
  font-weight: 600;
}

#{$article-tag} sup a {
  text-decoration: none;
  color: var(--color-accent);
}

#{$article-tag} sup a:hover {
  color: var(--color-mid);
}

/* Lists */

#{$article-tag} .body ul > li > ul {
  padding-left: 20px;
}

#{$article-tag} .body ul > li > ul li {
  list-style-type:circle
}

/* Footnotes */

#{$article-tag} .footnotes p {
  margin: 0.7rem auto;
}

#{$article-tag} .footnotes ol {
  margin-left: 0;
}

#{$article-tag} .footnotes ol {
  list-style: none;
  counter-reset: item;
  padding-left: 1rem;
}

#{$article-tag} .footnotes :target,
#{$article-tag} .body :target {
  background-color: var(--color-selection-bg);
}

#{$article-tag} .footnotes ol li p a[role="doc-backlink"] {
  font-family: auto;
  line-height: 0;
}

#{$article-tag} .footnotes ol li::before {
  counter-increment: item;
  content: counter(item) " ";
  position: absolute;
  vertical-align: super;
  font-weight: 600;
  font-size: var(--font-xxs);
  font-feature-settings: "zero", "ss01"; // Inter
  color: var(--color-accent);
  left: 0;
}

@media all and #{$media-desk} {
  #{$article-tag} .footnotes ol li::before {
    left: -1rem;
  }

  #{$article-tag} .footnotes ol {
    padding-left: 0;
  }  
}

@media all and #{$media-portable} {
  #{$article-tag} .footnotes ol {
    margin-left: 1rem;
  }
}

#{$article-tag} .footnotes p,
#{$article-tag} .footnotes li {
  @include font-sans-scaled(var(--font-s));
}

#{$article-tag} .footnotes {
  color: var(--color-mid);
}

/* Code */

#{$article-tag} > .body > p code,
#{$article-tag} > .body > pre {
  font-family: var(--font-mono);
  font-size: 0.8rem;
  padding: 0.25rem 0.9rem;
  background-color: #eaeaea;
  border-radius: 3px;
  color: #444;
}

/* Highlights */

mark,
#{$article-tag} .highlight {
  background-color: var(--color-highlight);
  color: var(--color-base);
}

/* Extensions */

// @media screen and #{$media-desk} {
//   #{$article-tag}--asides-to-right {
//     p.aside {
//       float: right;
//       right: 0;
//       width: 12rem;
//       padding-left: 1rem;
//       margin-top: 0;
//       hyphens: auto;
//       height: 100%;
//       display: block;
//     }

//     // figure + p.aside {
//     //   margin-top: 0;
//     // }
//   }
// }

/* Debug */

@mixin debug() {
  @if $article-debug == true {
    border: 1px solid var(--color-dim);
  }
}

#{$article-tag},
#{$article-tag}>.body,
#{$article-tag}>header,
#{$article-tag}>.body>p.aside {
  @include debug();
}