// ███████╗    ██╗   ██╗    ██████╗     ███████╗     ██████╗    ██████╗     ██╗    ██████╗     ███████╗
// ██╔════╝    ██║   ██║    ██╔══██╗    ██╔════╝    ██╔════╝    ██╔══██╗    ██║    ██╔══██╗    ██╔════╝
// ███████╗    ██║   ██║    ██████╔╝    ███████╗    ██║         ██████╔╝    ██║    ██████╔╝    █████╗  
// ╚════██║    ██║   ██║    ██╔══██╗    ╚════██║    ██║         ██╔══██╗    ██║    ██╔══██╗    ██╔══╝  
// ███████║    ╚██████╔╝    ██████╔╝    ███████║    ╚██████╗    ██║  ██║    ██║    ██████╔╝    ███████╗
// ╚══════╝     ╚═════╝     ╚═════╝     ╚══════╝     ╚═════╝    ╚═╝  ╚═╝    ╚═╝    ╚═════╝     ╚══════╝

$subscribe-tag: '.c-subscribe-v2' !default;

#{$subscribe-tag}__detail-text,
#{$subscribe-tag}__text {
  color: var(--color-mid);
}

#{$subscribe-tag}__detail-text {
  @include font-sans-scaled(var(--font-s));
}

#{$subscribe-tag}__text {
  @include font-sans-scaled(var(--font-default));
  margin-bottom: 0.5rem;
}

#{$subscribe-tag}__text.flash {
  @include font-sans-scaled(var(--font-default));
  font-weight: 600;
  color: var(--color-base);
}

#{$subscribe-tag}__form {
  // transition: transform 0.7s, opacity 0.7s;
  transition: all 0.55s;
}

#{$subscribe-tag}.flash {
  
  #{$subscribe-tag}__form,
  #{$subscribe-tag}__detail-text {
    transform: scale(1.05);
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
  }

}

#{$subscribe-tag} input[type=email],
#{$subscribe-tag} input[type=submit] {
  @include font-sans-scaled(var(--font-s));
  background-color: transparent;
  border-color: var(--color-dim);
  color: var(--color-base);
}

#{$subscribe-tag} input[type=email]::placeholder {
  color: var(--color-mid);
  opacity: 0.6;
}

@if $use-dark-mode == true {

  @media screen and (prefers-color-scheme: dark) {
    #{$subscribe-tag} input[type=email],
    #{$subscribe-tag} input[type=submit] {
      color: var(--color-mid);
    }
  }

}

#{$subscribe-tag}__text.flash::after {
  content: ' 🥳';
}

#{$subscribe-tag}__detail-text {
  @include font-sans-scaled(var(--font-xs));
  color: var(--color-mid);
}

#{$subscribe-tag}__detail-text a {
  color: var(--color-mid);
}

#{$subscribe-tag}__detail-text a:hover {
  color: var(--color-base);
}