

// utilities-padding

$utilities-padding-slug: "u-pad" !default;
$utilities-padding-unit: 15px !default;
$utilities-padding-amount: 20 !default;

/* MODIFIERS: Padding */

@for $i from 0 through $utilities-padding-amount {
  .#{$utilities-padding-slug}-t-#{$i}x { padding-top: $utilities-padding-unit * $i; }
  .#{$utilities-padding-slug}-b-#{$i}x { padding-bottom: $utilities-padding-unit * $i; }
	@media all and #{$media-palm} {
	  .palm--#{$utilities-padding-slug}-t-#{$i}x { padding-top: $utilities-padding-unit * $i !important; }
		.palm--#{$utilities-padding-slug}-b-#{$i}x { padding-bottom: $utilities-padding-unit * $i !important; }
	}
	@media all and #{$media-lap} {
	  .lap--#{$utilities-padding-slug}-t-#{$i}x { padding-top: $utilities-padding-unit * $i !important; }
		.lap--#{$utilities-padding-slug}-b-#{$i}x { padding-bottom: $utilities-padding-unit * $i !important; }
	}
	@media all and #{$media-portable} {
	  .portable--#{$utilities-padding-slug}-t-#{$i}x { padding-top: $utilities-padding-unit * $i !important; }
		.portable--#{$utilities-padding-slug}-b-#{$i}x { padding-bottom: $utilities-padding-unit * $i !important; }
	}
	@media all and #{$media-desk} {
	  .desk--#{$utilities-padding-slug}-t-#{$i}x { padding-top: $utilities-padding-unit * $i !important; }
		.desk--#{$utilities-padding-slug}-b-#{$i}x { padding-bottom: $utilities-padding-unit * $i !important; }
	}
	@media all and #{$media-wide} {
	  .wide--#{$utilities-padding-slug}-t-#{$i}x { padding-top: $utilities-padding-unit * $i !important; }
		.wide--#{$utilities-padding-slug}-b-#{$i}x { padding-bottom: $utilities-padding-unit * $i !important; }
	}
}
