// Background Color
.u-background-red {
    background-color: $color-red;
}

.u-background-blue {
    background-color: rgba(0, 0, 255, 0.15);
}

.u-background-grey-light {
    background-color: $color-grey-light;
}

.u-background-grey {
    background-color: $color-grey;
}

.u-background-grey-opacity {
    background-color: $color-grey-opacity;
}

.u-background-grey-dark {
    background-color: $color-grey-dark;
}

.u-background-green {
    background-color: $color-green;
}

.u-background-green-dark {
    background-color: $color-green-dark;
}

.u-background-white {
    background-color: $color-white;
}

.u-background-white-broken {
    // Used by Apple when using white backgrounds
    background-color: $color-white-broken;
}

.u-background-white-bluish {
    background-color: $color-white-bluish;
}

.u-background-black {
    background-color: $color-black-real;
}

.u-background-black-broken {
    background-color: $color-black;
}

.u-background-333 {
    background-color: #333;
}