/**
 * Utilities: Base;
 *
 * — General: miscelaneous;
 * — General: opacity
 * — General: padding
 * — General: Margin
 * — Text: case;
 * — Text: revert;
 * — Text: font-size;
 * — Text: font-weight;
 *
 */

// General: miscelaneous
.u-round {
    border-radius: 50%;
}

.u-bold {
    font-weight: 500;
}

.u-border-bottom {
    border-bottom: 1px solid #e3e3e3;
}

.u-no-border-bottom {
    border-bottom: none;
}

.u-no-underline a {
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.u-border {
    border: 1px solid #e3e3e3;
}

.u-cursor-pointer {
    cursor: pointer;
}


/* external links*/

.u-is-external::after {
    content: "➝";
    display: inline-block;
    margin: auto;
    font-size: 0.85em;
    margin-left: -19px;
    opacity: 0;
    transform: translateX(13px);
    transition: transform 0.3s cubic-bezier(0, 0.25, 0.08, 1), opacity 0.3s cubic-bezier(0, 0.25, 0.08, 1), -webkit-transform 0.3s cubic-bezier(0, 0.25, 0.08, 1);
}

.u-is-external:hover::after {
    transform: translateX(17px);
    opacity: 100;
}

.u-is-external--top-right::after {
    transform: translateX(13px) translateY(0px + 3px) rotate(-45deg);
}

.u-is-external--top-right:hover::after {
    transform: translateX(17px) translateY(0px) rotate(-45deg);
}

// General: opacity
.u-opacity--none {
    opacity: 0;
}

.u-opacity--low {
    opacity: 0.25;
}

.u-opacity--half {
    opacity: 0.50;
}

.u-opacity--high {
    opacity: 0.75;
}

// General: padding
.u-no-padding-bottom {
    padding-bottom: 0;
}

// General: margin
.u-no-margin-bottom {
    margin-bottom: 0;
}

// Text: case
.u-case-upper {
    text-transform: uppercase;
}

.u-case-lower {
    text-transform: lowercase;
}

.u-case-capitalize {
    text-transform: capitalize;
}

.u-case-input-lower {
    text-transform: lowercase;
    @include placeholder {
        text-transform: none;
    }
}

// Text: revert
.u-text--revert {
    unicode-bidi: bidi-override;
    direction: rtl;
    @include user-select(none);
    cursor: default;
}

// Type: font-size new (transition to have smaller?)
.u-font-size--50 {
    font-size: 0.50rem;
}

.u-font-size--55 {
    font-size: 0.55rem;
}

.u-font-size--60 {
    font-size: 0.60rem;
}

.u-font-size--65 {
    font-size: 0.65rem;
}

.u-font-size--70 {
    font-size: 0.70rem;
}

.u-font-size--75 {
    font-size: 0.75rem;
}

.u-font-size--80 {
    font-size: 0.80rem;
}

.u-font-size--85 {
    font-size: 0.85rem;
}

.u-font-size--90 {
    font-size: 0.90rem;
}

.u-font-size--95 {
    font-size: 0.95rem;
}

.u-font-size--105 {
    font-size: 1.05rem;
}

.u-font-size--110 {
    font-size: 1.10rem;
}

.u-font-size--115 {
    font-size: 1.15rem;
}

.u-font-size--120 {
    font-size: 1.20rem;
}

.u-font-size--125 {
    font-size: 1.25rem;
}

.u-font-size--130 {
    font-size: 1.30rem;
}

.u-font-size--135 {
    font-size: 1.35rem;
}

.u-font-size--140 {
    font-size: 1.40rem;
}

.u-font-size--145 {
    font-size: 1.45rem;
}

.u-font-size--150 {
    font-size: 1.50rem;
}

.u-font-size--155 {
    font-size: 1.55rem;
}

.u-font-size--160 {
    font-size: 1.60rem;
}

.u-font-size--165 {
    font-size: 1.65rem;
}

.u-font-size--170 {
    font-size: 1.70rem;
}

.u-font-size--175 {
    font-size: 1.75rem;
}

.u-font-size--180 {
    font-size: 1.80rem;
}

.u-font-size--185 {
    font-size: 1.85rem;
}

.u-font-size--190 {
    font-size: 1.90rem;
}

.u-font-size--195 {
    font-size: 1.95rem;
}

.u-font-size--200 {
    font-size: 2.00rem;
}

.u-font-size--225 {
    font-size: 2.25rem;
}

.u-font-size--250 {
    font-size: 2.50rem;
}

.u-font-size--275 {
    font-size: 2.75rem;
}

.u-font-size--300 {
    font-size: 3.00rem;
}

.u-font-size--325 {
    font-size: 3.25rem;
}

.u-font-size--350 {
    font-size: 3.50rem;
}

.u-font-size--375 {
    font-size: 3.75rem;
}

.u-font-size--400 {
    font-size: 4.00rem;
}

// Type: font-size media queries
@media all and #{$media-palm} {
    .palm--u-font-size--85 {
        font-size: 0.85rem;
    }
    .palm--u-font-size--90\@palm {
        font-size: 0.9rem;
    }
    .palm--u-font-size--95\@palm {
        font-size: 0.95rem;
    }
    .u-font-size--225\@palm {
        font-size: 2.25rem;
    }
    .u-font-size--250\@palm {
        font-size: 2.50rem;
    }
}


/* Type: font-size */

$font-size-a: 0.75rem !default;
$font-size-b: 0.85rem !default;
$font-size-c: 1.00rem !default;
$font-size-d: 1.10rem !default;
$font-size-e: 1.15rem !default;
$font-size-f: 1.25rem !default;
$font-size-g: 1.35rem !default;
$font-size-h: 1.55rem !default;
$font-size-i: 1.75rem !default;
.u-font-size--a {
    font-size: $font-size-a !important;
}

.u-font-size--b {
    font-size: $font-size-b !important;
}

.u-font-size--c {
    font-size: $font-size-c !important;
}

.u-font-size--d {
    font-size: $font-size-d !important;
}

.u-font-size--e {
    font-size: $font-size-e !important;
}

.u-font-size--f {
    font-size: $font-size-f !important;
}

.u-font-size--g {
    font-size: $font-size-g !important;
}

.u-font-size--h {
    font-size: $font-size-h !important;
}

.u-font-size--i {
    font-size: $font-size-i !important;
}

// Type: font-size media queries
@media all and #{$media-palm} {
    .u-font-size--a\@palm {
        font-size: $font-size-a !important;
    }
    .u-font-size--b\@palm {
        font-size: $font-size-b !important;
    }
    .u-font-size--c\@palm {
        font-size: $font-size-c !important;
    }
    .u-font-size--e\@palm {
        font-size: $font-size-e !important;
    }
    .u-font-size--f\@palm {
        font-size: $font-size-f !important;
    }
    .u-font-size--g\@palm {
        font-size: $font-size-g !important;
    }
    .u-font-size--h\@palm {
        font-size: $font-size-h !important;
    }
    .u-font-size--i\@palm {
        font-size: $font-size-i !important;
    }
}

@media all and #{$media-lap} {
    .u-font-size--a\@lap {
        font-size: $font-size-a !important;
    }
    .u-font-size--b\@lap {
        font-size: $font-size-b !important;
    }
    .u-font-size--c\@lap {
        font-size: $font-size-c !important;
    }
    .u-font-size--e\@lap {
        font-size: $font-size-e !important;
    }
    .u-font-size--f\@lap {
        font-size: $font-size-f !important;
    }
    .u-font-size--g\@lap {
        font-size: $font-size-g !important;
    }
    .u-font-size--h\@lap {
        font-size: $font-size-h !important;
    }
    .u-font-size--i\@lap {
        font-size: $font-size-i !important;
    }
}

@media all and #{$media-desk} {
    .u-font-size--a\@desk {
        font-size: $font-size-a !important;
    }
    .u-font-size--b\@desk {
        font-size: $font-size-b !important;
    }
    .u-font-size--c\@desk {
        font-size: $font-size-c !important;
    }
    .u-font-size--e\@desk {
        font-size: $font-size-e !important;
    }
    .u-font-size--f\@desk {
        font-size: $font-size-f !important;
    }
    .u-font-size--g\@desk {
        font-size: $font-size-g !important;
    }
    .u-font-size--h\@desk {
        font-size: $font-size-h !important;
    }
    .u-font-size--i\@desk {
        font-size: $font-size-i !important;
    }
}

// Type: font-weight
.u-font-weight--thin {
    font-weight: $thin;
}

.u-font-weight--light {
    font-weight: $light;
}

.u-font-weight--regular {
    font-weight: $regular;
}

.u-font-weight--bold {
    font-weight: $bold;
}

.u-font-weight--extra-bold {
    font-weight: $extra-bold;
}

a.u-text-decoration--none {
    text-decoration: none;
}

a.u-box-shadow--none {
    box-shadow: none;
}

// New
.u-a--box-shadow-reset {
    box-shadow: none !important;
}

// Line height
.u-line-height-0 {
    line-height: 0;
}

//
.u-select-none {
    @include user-select(none);
}