// Background Color
.u-background-red {
    background-color: $color-red;
}

.u-background-grey-light {
    background-color: $color-grey-light;
}

.u-background-grey {
    background-color: $color-grey;
}

.u-background-grey-dark {
    background-color: $color-grey-dark;
}

.u-background-white {
    background-color: $color-white;
}

.u-background-white-broken {
    // Used by Apple when using white backgrounds
    background-color: $color-white-broken;
}

.u-background-black {
    background-color: $color-black-real;
}

.u-background-black-broken {
    background-color: $color-black;
}