
// Font Color

.u-color-green {
	color: $color-green;
}

.u-color-white {
	color: $color-white;
}

.u-color-white a:link,
.u-color-white a:visited {
	color: $color-white;
}

.u-color-grey-light {
	color: $color-grey-light;
}

.u-color-grey {
	color: $color-grey;
}

.u-color-grey-dark {
	color: $color-grey-dark;
}
