$div-lazy-animation-duration: 0.2s !default;

div.lazy {
    opacity: 0;
    transition: opacity $div-lazy-animation-duration ease-in;
    -moz-transition: opacity $div-lazy-animation-duration ease-in;
    -webkit-transition: opacity $div-lazy-animation-duration ease-in;
  }

div.lazy--visible {
    opacity: 1;
}