// [ 3. CSSWizardry-grids ]

$gutter: 17px !default;
$use-markup-fix: false !default;

$breakpoints: (
  "palm" "(max-width: 530px)",
  "lap" "(min-width: 531px) and (max-width: 1023px)",
  "portable" "(max-width: 1023px)",
  "desk" "(min-width: 1024px)",
  "wide" "(min-width: 1500px)"
) !default;

$media-palm: nth(nth($breakpoints, 1), 2) !default;
$media-lap: nth(nth($breakpoints, 2), 2) !default;
$media-portable: nth(nth($breakpoints, 3), 2) !default;
$media-desk: nth(nth($breakpoints, 4), 2) !default;
$media-wide: nth(nth($breakpoints, 5), 2) !default;
