/* Colors */

$color-black: var(--color-base);
$color-black-real: #000;
$color-blue: #0366d6;
$color-green: #36b46e;
$color-green-dark: #2c9259;
$color-red: #db4a38;
$color-red-dark: #ad3d2f;
$color-grey-light: rgba(0, 0, 0, 0.1);
$color-grey: #939393;
$color-grey-opacity: rgba(0, 0, 0, 0.9);
$color-grey-dark: rgba(0, 0, 0, 0.65);
$color-white: #fff;
$color-white-broken: #fafafa;
$color-white-bluish: #f2f5f8;
$color-yellow: #ffe6a2;

// iA - Information Architects

$color-ia-blue-selection: rgba(47, 190, 234, 0.25);
$color-ia-blue-accent: #009ec9;
