
  /**
   * Colors
   */

  $color-green: #36b46e;
  $color-green-dark: #2c9259;
  $color-red: #db4a38;
  $color-red-dark: #ad3d2f;
  $color-grey-light: rgba(0,0,0,0.10);
  $color-grey: #939393;
  $color-grey-opacity: rgba(0,0,0,0.90);
  $color-grey-dark: rgba(0,0,0,0.65);
  $color-black: #222;
  $color-black-real: #000;
  $color-white: #fff;
  $color-white-broken: #fafafa;
  $color-white-bluish: #f2f5f8;
