    /* Variables */
    
    $c-header-navigation-height: 36px;
    $c-header-padding-vertical: 32px;
    $c-header-background-color: transparent !default;
    $c-header-simple-link-color: $link-color !default;
    $c-header-simple-link-color-hover: $link-color-hover !default;
    $c-header-simple-font-family: "franklin-gothic-urw",
    sans-serif !default;
    $c-header-simple-header-font-family: var(--font-sans) !default;
    
    /* main */
    
    .c-header-simple {
        font-family: $c-header-simple-font-family;
        position: relative;
        width: 100%;
        font-size: 1em;
        z-index: 200;
        background-color: $c-header-background-color;
        padding: $c-header-padding-vertical 0;
        border-bottom: solid 1px var(--font-dim);
    }
    
    @media all and #{$media-palm} {
        .c-header-simple {
            font-size: 0.85em;
        }
    }
    /* links */
    
    .c-header-simple a.navigation-link {
        padding-bottom: 2px;
    }
    
    .c-header-simple .navigation-link--active {
        border-bottom: solid 2px $c-header-simple-link-color;
        color: $c-header-simple-link-color;
    }
    
    // link
    .c-header-simple a {
        color: $c-header-simple-link-color;
    }
    
    .c-header-simple a:hover.navigation-link:not(.navigation-link--active) {
        border-bottom: solid 2px var(--color-mid);
    }
    
    .c-header-simple .c-social a,
    .c-header-simple .c-social a:visited {
        color: $c-header-simple-link-color;
    }
    
    .c-header-simple .c-social a:hover {
        color: lighten($c-header-simple-link-color-hover, 5%);
    }
    /* Name */
    
    .c-header-simple__name {
        font-weight: 600;
        display: inline-block; //inline-block;
        margin-bottom: 8px; // - $c-header-simple__name-padding;
        font-family: $c-header-simple-header-font-family;
    }

    .c-header-simple__name:hover {
        color: lighten($c-header-simple-link-color-hover, 5%);
    }

    /* o-wrap */
    
    .c-header-simple .o-wrap {
        padding: 0 30px;
    }

    .c-header-simple .o-wrap--bio {
        max-width: 510px;
    }
    
    @media all and #{$media-palm} {
        .c-header-simple .o-wrap--bio {
            max-width: 340px;
            margin-left: 0;
        }
    }
    /* description */
    
    .c-header-simple__description {
        font-size: 22px;
        margin-bottom: 38px;
    }
    
    @media all and #{$media-palm} {
        .c-header-simple__description {
            font-size: 20px;
        }
    }

    @media all and #{$media-palm} {
        .c-header-simple--palm-left {
            .c-header-simple__description {
                text-align: left;
            }
        }
    }

    /* Image */
    
    .c-header-simple__image {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .c-header-simple__image {
        transform: rotate(0deg);
        transition: transform 0.5s ease-in-out;
    }

    .c-header-simple__image:hover {
        transform: rotate(360deg);
        transition: transform 2.5s linear;
    }

    @media all and #{$media-palm} {
        .c-header-simple__image {
            width: 105px;
            height: 105px;
        }
    }
    
    .c-header-simple__image img {
        width: 100%;
    }
    /* Navigation */
    
    .c-header-simple__navigation {
        display: block;
        margin-bottom: 34px;
    }
    
    .c-header-simple__navigation ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
        list-style: none;
        margin: 0 auto;
        padding: 0;
        display: inline-block;
        padding: 0.4rem;
    }
    
    .c-header-simple__navigation ul li {
        display: inline-block;
        margin-right: 1.35em;
        // padding-bottom: 9px;
        text-align: -webkit-match-parent;
    }
    
    @media all and #{$media-palm} {
        .c-header-simple__navigation ul li {
            margin-right: 0.9em;
        }
    }
    
    .c-header-simple__navigation ul li:last-of-type {
        margin-right: 0;
    }
    
    // #{$media-not-palm} = #{$media-lap} + #{$media-desk}
    @media all and #{$media-lap},
    all and #{$media-desk} {
        .c-header-simple,
        .c-header-simple__navigation {
            text-align: center;
        }
    }

    .c-header-simple__navigation-link-wrap {
        position: relative;
    }

    /* Modifiers */
    /* white */
    
    .c-header-simple--white a:hover.navigation-link,
    .c-header-simple--white a.navigation-link--active,
    .c-header-simple--white a:hover.navigation-link--active {
        border-bottom: solid 2px $color-white;
    }
    
    .c-header-simple--white a,
    .c-header-simple--white a:visited,
    .c-header-simple--white a:hover {
        color: $color-white!important;
    }
    
    .c-header-simple--white .o-icon-prototype {
        color: $color-white;
        fill: $color-white;
    }
    /* --absolute */
    
    .c-header-simple--absolute {
        position: absolute;
    }
    
    .c-header-simple--absolute a,
    .c-header-simple--absolute a:visited {
        color: $color-white;
        opacity: 0.8;
    }
    
    .c-header-simple--absolute a:hover {
        opacity: 1.0;
    }
    /* --borderless */
    
    .c-header-simple--borderless {
        border-bottom: none;
    }
    /* --tight */
    
    .c-header-simple--tight .c-header-simple__navigation {
        margin: 0;
    }

    .c-header-simple--tight-bottom {
        padding-bottom: 0;
    }
    /* --extra-tight */
    
    .c-header-simple.c-header-simple--extra-tight {
        margin: 0;
        padding: 0;
    }
    
    .c-header-simple--extra-tight .c-header-simple__navigation {
        margin: 0;
    }

    /* --night */
    
    .c-header-simple--night {
        background-color: $color-black;
        color: $color-white;
    }
    
    .c-header-simple--night a,
    .c-header-simple--night a:visited {
        color: $color-yellow;
    }
    
    .c-header-simple--night a:hover.navigation-link:not(.navigation-link--active) {
        color: $color-yellow;
        border-bottom: solid 2px rgba($color-yellow, 0.3)!important;
    }
    
    .c-header-simple--night .navigation-link--active {
        color: $color-yellow;
        border-bottom: solid 2px $color-yellow;
    }
    
    .c-header-simple--night .m-social a,
    .c-header-simple--night .m-social a:visited {
        color: $color-white;
    }
    
    .c-header-simple--night .m-social a:hover {
        color: $color-yellow;
    }
    
    .c-header-simple--night .o-icon-prototype {
        color: $color-yellow;
        fill: $color-yellow;
    }
    /* --center */
    
    .c-header-simple--center,
    .c-header-simple--center .c-header-simple__description {
        text-align: center;
    }
    
    .c-header-simple--center .o-wrap--bio {
        margin-left: auto;
    }
    
    .c-header-simple--center .c-header-simple__image {
        margin-left: 0;
    }
    /* --left */
    
    .c-header-simple--left,
    .c-header-simple--left .c-header-simple__description,
    .c-header-simple--left .c-header-simple__navigation {
        text-align: left;
    }
    
    .c-header-simple--left .o-wrap--bio {
        margin-left: auto;
    }
    
    .c-header-simple--left .c-header-simple__image {
        margin-left: 0;
    }

.c-header-simple--s {
    font-size: 0.8rem;
}