// image slide
.c-item-v2 .sld-image {
    font-size: 100%;
    text-align: center;
    font-family: $c-item-v2-font-b;
    margin: 4em auto;
}

.c-item-v2 .sld-image p {
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.8);
}

.c-item-v2 .sld-image:after {
    content: '';
    margin: 4em auto;
    border: 1px solid $color-grey-light;
    display: block;
    width: 6em;
}

.c-item-v2 .sld-image a,
.c-item-v2 .sld-image a:hover,
.c-item-v2 .sld-image a:visited {
    color: inherit;
    padding-bottom: 1px;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.20);
}

// NEW: SECTION
.c-item-v2--bleed {
    width: calc( 100% + 2 * #{$c-item-v2-gutter});
    margin-left: calc( -1 * #{$c-item-v2-gutter});
}

.c-item-v2__section {
    font-size: inherit;
    position: relative;
    padding: 2em $c-item-v2-gutter;
}

.c-item-v2__section:last-of-type {
    padding: 1em $c-item-v2-gutter;
}

.c-item-v2__section .section {
    @extend .c-item-v2--bleed;
}

// section title
.c-item-v2 .c-item-v2__section-title {
    background-color: #fafafa;
    @extend .c-item-v2__section;
    font-family: $type-font-family;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-left: none;
    border-right: none;
}

//section black
.c-item-v2__section-black,
.c-item-v2__section .section-black {
    @extend .c-item-v2__section;
    background-color: #333;
    color: white;
    font-family: $type-font-family;
}

.c-item-v2__section-black p,
.c-item-v2__section .section-black p {
    width: 100%;
    font-family: inherit;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.7);
}

.c-item-v2__section-black a,
.c-item-v2__section-black a:hover,
.c-item-v2__section-black a:visited {
    color: white;
    $_c: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 -1px 0 $_c;
}

.c-item-v2__section-black p:first-child,
.c-item-v2__section .section-black p:first-child {
    //margin:0 auto;
}

// section title
.c-item-v2__section.title {
    @extend .c-item-v2__section;
    background-color: #333;
    color: white;
    font-family: $type-font-family;
}

.c-item-v2__section.title p {
    width: 100%;
    font-family: inherit;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.7);
    margin: 0 auto;
    text-align: center;
}

.c-item-v2__section.title a,
.c-item-v2__section.title a:hover,
.c-item-v2__section.title a:visited {
    color: white;
    $_c: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 -1px 0 $_c;
}

.c-item-v2__section.title.title--slack {
    padding-top: 3em;
    padding-bottom: 3em;
}

// section foreword
.c-item-v2__section.foreword {
    @extend .c-item-v2__section;
    background-color: #333;
    color: white;
    font-family: $type-font-family;
}

.c-item-v2__section.foreword p {
    width: 100%;
    font-family: inherit;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.7);
    margin: 0 auto;
    text-align: center;
}

.c-item-v2__section.foreword a,
.c-item-v2__section.foreword a:hover,
.c-item-v2__section.foreword a:visited {
    color: white;
    $_c: rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 -1px 0 $_c;
}

// .foreword.light
.c-item-v2__section.foreword.light {
    color: #222;
    background-color: $color-white-broken;
}

.c-item-v2__section.foreword.light.border {
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-left: none;
    border-right: none;
}

.c-item-v2__section.foreword a,
.c-item-v2__section.foreword a:hover,
.c-item-v2__section.foreword a:visited {
    color: #222;
    $_c: rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 $_c;
}

// paragraphs
.c-item-v2 p.comment {
    font-family: $type-font-sans;
    text-align: center;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.7);
}

.c-item-v2 p.title {
    font-family: $type-font-sans;
    text-align: center;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 1.2);
}

// aside p
.c-item-v2 p.aside {
    font-family: $type-font-sans;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.6);
    color: rgba(0, 0, 0, 0.55);
}

.c-item-v2 span.aside,
.c-item-v2 span.aside-right {
    font-family: $type-font-sans;
    line-height: $c-item-v2-line-height;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.6);
    color: rgba(0, 0, 0, 0.55);
    float: center;
    clear: both;
    display: block;
    margin: 1em 0;
}

.c-item-v2 span.aside a,
.c-item-v2 span.aside a:hover,
.c-item-v2 span.aside a:visited,
.c-item-v2 span.aside-right a,
.c-item-v2 span.aside-right a:hover,
.c-item-v2 span.aside-right a:visited,
.c-item-v2 p.aside a,
.c-item-v2 p.aside a:hover,
.c-item-v2 p.aside a:visited {
    color: inherit;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.35);
}

// .c-item-v2 p.aside {
//   clear:both;
//   float:left;
//   width:200px;
//   margin-left:calc( (100vw - #{$_c-item-v2-wrap-width}/0.6)/2 - #{$c-item-v2-gutter}*3);
//   margin-right:0.6em;
// }
@media all and (min-width:60rem) {
    .c-item-v2 p.aside {
        font-family: $type-font-sans;
        float: left;
        clear: both;
        margin-left:calc( (100vw - #{$_c-item-v2-wrap-width}/0.6)/2 - #{$c-item-v2-gutter}*3 - 190px);
        margin-top: 0.5em;
        width: 150px;
        // display:inline-block;
        color: rgba(0, 0, 0, 0.55);
    }
    .c-item-v2 span.aside {
        font-family: $type-font-sans;
        float: left;
        clear: both;
        margin-left: -190px;
        margin-top: 0.6em;
        width: 150px;
        // display:inline-block;
        color: rgba(0, 0, 0, 0.55);
    }
    .c-item-v2 p.aside-right {
        position: absolute;
        right:calc( (100vw - #{$_c-item-v2-wrap-width})/2 - #{$c-item-v2-gutter} - 200px);
        width: 150px;
        height: auto;
        display: block;
        margin: 1em 0;
    }
    .c-item-v2 span.aside-right {
        font-family: $type-font-sans;
        float: right;
        clear: both;
        margin-right: -190px;
        margin-top: 0.6em;
        width: 150px;
        // display:inline-block;
        color: rgba(0, 0, 0, 0.55);
    }
}

// .c-i2__section.slack {
//   padding-top: 20em!important;
//   padding-bottom: 20em!important;
// }
.c-item-v2 .press-slack {
    padding-top: 20em;
    padding-bottom: 20em;
}

// figure
.c-item-v2 figure {
    margin: 3em auto;
}

// statement
.c-item-v2 .statement {
    @include c-item-v2-font ($_c-item-v2-wrap-width, 2);
}

// [ 8. Links ] Modifiers to override link colors
.c-item-v2--link-red a {
    @include transition(none);
    color: $c-item-v2-link-color;
    @if $c-item-v2-link-underline==true {
        box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 $color-red;
    }
}

.c-item-v2--link-red a:hover {
    color: $color-red;
    @if $c-item-v2-link-underline-hover==true {
        box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 $color-red;
    }
    @else {
        box-shadow: none;
    }
}

// [ 8. Links ] Modifiers to override link colors
.c-item-v2--link-green a {
    @include transition(none);
    color: $c-item-v2-link-color;
    @if $c-item-v2-link-underline==true {
        box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 $color-green;
    }
}

.c-item-v2--link-green a:hover {
    color: $color-green;
    @if $c-item-v2-link-underline-hover==true {
        box-shadow: inset 0 -2px 0 white, inset 0 -3px 0 $color-green;
    }
    @else {
        box-shadow: none;
    }
}


/*Themes*/

.c-item-v2--editorial {
    .c-item-v2__title {
        font-family: system-ui, "Helvetica", serif;
        text-align: left;
    }
    .c-item-v2__title a {
        box-shadow: none;
    }
    .c-item-v2__body>p>a,
    .c-item-v2__body a:not(.footnote-ref) {
        box-shadow: none;
        border-color: rgb(177, 177, 177);
        border-width: 0 0 1px 0;
        border-style: none none solid none;
    }
    .c-item-v2__body>p>a:hover {
        box-shadow: none;
    }
    .c-item-v2__body>p>.no-border {
        border: none;
    }
    .c-item-v2__title h1 {
        font-family: system-ui, "Helvetica", serif;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 1.15);
    }
    .c-item-v2__title h1.u-is-external {
        display: inline-text;
        font-family: system-ui, "Helvetica", serif;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 0.85);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .c-item-v2__title--external a {
        color: rgb(46, 46, 46);
        border-color: rgb(177, 177, 177);
        border-width: 0 0 1px 0;
        border-style: none none solid none;
    }
    .c-item-v2__title--external a:hover {
        text-decoration: none;
    }
    .c-item-v2__body>p,
    .c-item-v2__body blockquote {
        font-family: system-ui, "Helvetica", serif;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 0.9);
    }
    .c-item-v2__body ul li,
    .c-item-v2__body ol li {
        font-family: system-ui, "Helvetica", serif;
    }
    .c-item-v2__body p.no-text {
        display: block;
    }
    .c-item-v2__body p.no-text+p {
        text-indent: 0!important;
    }
    .c-item-v2__meta a {
        box-shadow: none;
        color: #939393;
    }
    .c-item-v2__meta a:hover {
        border-color: rgb(177, 177, 177);
        border-width: 0 0 1px 0;
        border-style: none none solid none;
    }
    .c-item-v2__body>hr {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }
    .c-item-v2__date.c-item-v2__date--title {
        margin-top: -17px!important;
        margin-bottom: 80px;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 1.15);
    }
    .footnotes ol a,
    .footnotes ul a {
        box-shadow: 0;
        border-color: rgb(177, 177, 177);
        border-width: 0 0 1px 0;
        border-style: none none solid none;
    }
    .c-item-v2__meta {
        font-family: system-ui, $c-item-v2-font-tag, sans;
        font-weight: $bold;
        letter-spacing: 0.03em;
        line-height: $c-item-v2-line-height;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 0.55);
        @include transition( all 0.25s);
    }
    .c-item-v2__body figure.bleed,
    .c-item-v2__body img.bleed,
    .c-item-v2__body video.bleed,
    .c-item-v2__body figure.full,
    .c-item-v2__body img.full,
    .c-item-v2__body video.full,
    .c-item-v2__body figure.wide,
    .c-item-v2__body img.wide,
    .c-item-v2__body video.wide {
        width: 100%;
        display: block;
        max-width: $_c-item-v2-wrap-width!important;
        margin: 1em auto;
    }
    @media all and #{$media-palm} {
        .c-item-v2__body figure.limit,
        .c-item-v2__body img.limit,
        .c-item-v2__body video.limit {
            margin-left: 0;
        }
    }
    h2 {
        font-family: system-ui, "Helvetica", sans;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 0.75);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .c-item-v2__body code {
        font-size: .8em;
    }
    .c-item-v2__body pre>code {
        font-size: .7em;
    }
}