// image slide
.c-item-v2 .sld-image {
    font-size: 100%;
    text-align: center;
    font-family: $c-item-v2-font-b;
    margin: 4em auto;
}

.c-item-v2 .sld-image p {
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.8);
}

.c-item-v2 .sld-image:after {
    content: '';
    margin: 4em auto;
    border: 1px solid var(--color-dim);
    display: block;
    width: 6em;
}

.c-item-v2 .sld-image a,
.c-item-v2 .sld-image a:hover,
.c-item-v2 .sld-image a:visited {
    color: inherit;
    padding-bottom: 1px;
    box-shadow: inset 0 -1px 0 var(--color-dim);
}

// NEW: SECTION
.c-item-v2--bleed {
    width: calc( 100% + 2 * #{$c-item-v2-gutter});
    margin-left: calc( -1 * #{$c-item-v2-gutter});
}

.c-item-v2__section {
    font-size: inherit;
    position: relative;
    padding: 2em $c-item-v2-gutter;
}

.c-item-v2__section:last-of-type {
    padding: 1em $c-item-v2-gutter;
}

.c-item-v2__section .section {
    @extend .c-item-v2--bleed;
}

// section title
.c-item-v2 .c-item-v2__section-title {
    background-color: var(--color-bg);
    @extend .c-item-v2__section;
    font-family: $type-font-family;
    border: 1px solid var(--color-dim);
    border-left: none;
    border-right: none;
}

//section white broken
@if $use-dark-mode == true {
    @media screen and (prefers-color-scheme: dark) {
        .u-background-white-broken {
            background-color: var(--color-bg);
        }
    }
}

//section black
.c-item-v2__section-black,
.c-item-v2__section .section-black {
    @include invert-when-dark;
    @extend .c-item-v2__section;
    background-color: var(--color-base);
    color: var(--color-mid);
    font-family: $type-font-family;
}

.c-item-v2__section-black p,
.c-item-v2__section .section-black p {
    width: 100%;
    font-family: inherit;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.7);
}

.c-item-v2__section-black a,
.c-item-v2__section-black a:hover,
.c-item-v2__section-black a:visited {
    color: var(--color-bg);
    $_c: var(--color-mid);
    box-shadow: inset 0 -1px 0 $_c;
}

// .c-item-v2__section-black p:first-child,
// .c-item-v2__section .section-black p:first-child {
//     //margin:0 auto;
// }

// section title
.c-item-v2__section.title {
    @extend .c-item-v2__section;
    background-color: var(--color-bg);
    color: var(--color-base);
    font-family: $type-font-family;
}

.c-item-v2__section.title p {
    width: 100%;
    font-family: inherit;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.7);
    margin: 0 auto;
    text-align: center;
}

.c-item-v2__section.title a,
.c-item-v2__section.title a:hover,
.c-item-v2__section.title a:visited {
    color: var(--color-base);
    box-shadow: inset 0 -1px 0 var(--color-mid);
}

.c-item-v2__section.title.title--slack {
    padding-top: 3em;
    padding-bottom: 3em;
}

// section foreword
.c-item-v2__section.foreword {
    @extend .c-item-v2__section;
    background-color: var(--color-bg);
    color: var(--color-bg);
    font-family: $type-font-family;
}

.c-item-v2__section.foreword p {
    width: 100%;
    font-family: inherit;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.7);
    margin: 0 auto;
    text-align: center;
}

.c-item-v2__section.foreword a,
.c-item-v2__section.foreword a:hover,
.c-item-v2__section.foreword a:visited {
    color: var(--color-base);
    box-shadow: inset 0 -1px 0 var(--color-base);
}

// .foreword.light
.c-item-v2__section.foreword.light {
    color: var(--color-base);
    background-color: var(--color-bg);
}

.c-item-v2__section.foreword.light.border {
    border: 1px solid var(--color-dim);
    border-left: none;
    border-right: none;
}

.c-item-v2__section.foreword a,
.c-item-v2__section.foreword a:hover,
.c-item-v2__section.foreword a:visited {
    color: var(--color-base);
    $_c: var(--color-dim);
    box-shadow: inset 0 -1px 0 $_c;
}

// paragraphs
.c-item-v2 p.comment {
    font-family: $type-font-sans;
    text-align: center;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.7);
}

.c-item-v2 p.title {
    font-family: $type-font-sans;
    text-align: center;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 1.2);
}

// aside p
.c-item-v2 p.aside {
    font-family: $type-font-sans;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.6);
    color: var(--color-mid);
}

.c-item-v2 span.aside,
.c-item-v2 span.aside-right {
    font-family: $type-font-sans;
    line-height: $c-item-v2-line-height;
    @include c-item-v2-font ($_c-item-v2-wrap-width, 0.6);
    color: var(--color-mid);
    float: center;
    clear: both;
    display: block;
    margin: 1em 0;
}

.c-item-v2 span.aside a,
.c-item-v2 span.aside a:hover,
.c-item-v2 span.aside a:visited,
.c-item-v2 span.aside-right a,
.c-item-v2 span.aside-right a:hover,
.c-item-v2 span.aside-right a:visited,
.c-item-v2 p.aside a,
.c-item-v2 p.aside a:hover,
.c-item-v2 p.aside a:visited {
    color: inherit;
    box-shadow: inset 0 -1px 0 var(--color-mid);
}

@media all and (min-width:60rem) {
    .c-item-v2 p.aside {
        font-family: $type-font-sans;
        float: left;
        clear: both;
        margin-left:calc( (100vw - #{$_c-item-v2-wrap-width}/0.6)/2 - #{$c-item-v2-gutter}*3 - 190px);
        margin-top: 0.5em;
        width: 150px;
        color: var(--color-mid);
    }
    .c-item-v2 span.aside {
        font-family: $type-font-sans;
        float: left;
        clear: both;
        margin-left: -190px;
        margin-top: 0.6em;
        width: 150px;
        color: var(--color-mid);
    }
    .c-item-v2 p.aside-right {
        position: absolute;
        right:calc( (100vw - #{$_c-item-v2-wrap-width})/2 - #{$c-item-v2-gutter} - 200px);
        width: 150px;
        height: auto;
        display: block;
        margin: 1em 0;
    }
    .c-item-v2 span.aside-right {
        font-family: $type-font-sans;
        float: right;
        clear: both;
        margin-right: -190px;
        margin-top: 0.6em;
        width: 150px;
        color: var(--color-mid);
    }
}

.c-item-v2 .press-slack {
    padding-top: 20em;
    padding-bottom: 20em;
}

// figure
.c-item-v2 figure {
    margin: 3em auto;
}

// pad transparent PNGs and add white background

@if $use-dark-mode == true {

    @media screen and (prefers-color-scheme: dark) {

        .c-item-v2 .white-pad {
            background-color: white;
            padding: 15px;
        }

    }

}

// statement
.c-item-v2 .statement {
    @include c-item-v2-font ($_c-item-v2-wrap-width, 2);
}

// [ 8. Links ] Modifiers to override link colors
.c-item-v2--link-red a {
    transition: none;
    color: $c-item-v2-link-color;
    @if $c-item-v2-link-underline==true {
        box-shadow: inset 0 -2px 0 var(--color-bg), inset 0 -3px 0 $color-red;
    }
}

.c-item-v2--link-red a:hover {
    color: $color-red;
    @if $c-item-v2-link-underline-hover==true {
        box-shadow: inset 0 -2px 0 var(--color-bg), inset 0 -3px 0 $color-red;
    }
    @else {
        box-shadow: none;
    }
}

// [ 8. Links ] Modifiers to override link colors
.c-item-v2--link-green a {
    transition: none;
    color: $c-item-v2-link-color;
    @if $c-item-v2-link-underline==true {
        box-shadow: inset 0 -2px 0 var(--color-bg), inset 0 -3px 0 $color-green;
    }
}

.c-item-v2--link-green a:hover {
    color: $color-green;
    @if $c-item-v2-link-underline-hover==true {
        box-shadow: inset 0 -2px 0 var(--color-bg), inset 0 -3px 0 $color-green;
    }
    @else {
        box-shadow: none;
    }
}


/*Themes*/

.c-item-v2--editorial {
    code,
    pre {
        font-family: var(--font-mono);
        letter-spacing: -0.03em;
        font-feature-settings: "dlig", "calt", "clig";
        tab-size: 2;
    }
    .c-item-v2__title {
        font-family: var(--font-sans);
        text-align: left;
    }
    .c-item-v2__title a {
        box-shadow: none;
    }
    .c-item-v2__body>p>a,
    .c-item-v2__body a:not(.footnote-ref) {
        box-shadow: none;
        border-color: var(--color-dim);
        border-width: 0 0 1px 0;
        border-style: none none solid none;
    }
    .c-item-v2__body>p>a:hover {
        box-shadow: none;
    }
    .c-item-v2__body>p>.no-border {
        border: none;
    }
    .c-item-v2__title h1 {
        font-family: var(--font-sans);
        @include c-item-v2-font ($_c-item-v2-wrap-width, 1.15);
    }
    .c-item-v2__title h1.u-is-external {
        display: inline-text;
        font-family: var(--font-sans);
        @include c-item-v2-font ($_c-item-v2-wrap-width, 0.85);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .c-item-v2__title--external a {
        color: var(--color-base);
        border-color: var(--color-dim);
        border-width: 0 0 1px 0;
        border-style: none none solid none;
    }
    .c-item-v2__title--external a:hover {
        text-decoration: none;
    }
    .c-item-v2__body>p,
    .c-item-v2__body blockquote,
    .c-item-v2__body>ul,
    .c-item-v2__body>ol {
        font-family: system-ui, "Helvetica", serif;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 0.9);
    }
    .c-item-v2__body>ul,
    .c-item-v2__body>ol {
        padding-left: 2.2rem;
    }
    .c-item-v2__body ul {
        list-style-type: unset;
    }
    .c-item-v2__body ul li,
    .c-item-v2__body ol li {
        font-family: system-ui, "Helvetica", serif;
        margin-left: 0;
        margin-bottom: 0;
    }
    .c-item-v2__body ul li::before {
        content: none;
    }
    .c-item-v2__body p.no-text {
        display: block;
    }
    .c-item-v2__body p.no-text+p,
    .c-item-v2__body p.no-indent {
        text-indent: 0!important;
    }
    .c-item-v2__meta a {
        box-shadow: none;
        color: var(--color-mid);
    }
    .c-item-v2__meta a:hover {
        border-color: var(--color-mid);
        border-width: 0 0 1px 0;
        border-style: none none solid none;
    }
    .c-item-v2__body>hr {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }
    .c-item-v2__date.c-item-v2__date--title {
        margin-top: -27px!important;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 1.15);
    }
    .footnotes ol a,
    .footnotes ul a {
        box-shadow: 0;
        border-color: var(--color-mid);
        border-width: 0 0 1px 0;
        border-style: none none solid none;
    }
    .c-item-v2__meta {
        font-family: system-ui, $c-item-v2-font-tag, sans;
        font-weight: $bold;
        letter-spacing: 0.03em;
        line-height: $c-item-v2-line-height;
        @include c-item-v2-font ($_c-item-v2-wrap-width, 0.55);
        transition: all 0.25s;
    }
    .c-item-v2__body figure.bleed,
    .c-item-v2__body img.bleed,
    .c-item-v2__body video.bleed,
    .c-item-v2__body figure.full,
    .c-item-v2__body img.full,
    .c-item-v2__body video.full,
    .c-item-v2__body figure.wide,
    .c-item-v2__body img.wide,
    .c-item-v2__body video.wide {
        width: 100%;
        display: block;
        max-width: $_c-item-v2-wrap-width!important;
        margin: 1em auto;
    }
    @media all and #{$media-palm} {
        .c-item-v2__body figure.limit,
        .c-item-v2__body img.limit,
        .c-item-v2__body video.limit {
            margin-left: 0;
        }
    }
    h2 {
        font-family: var(--font-sans);
        @include c-item-v2-font ($_c-item-v2-wrap-width, 0.75);
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .c-item-v2__body code {
        font-size: .8em;
    }
    .c-item-v2__body pre>code {
        font-size: .7em;
    }

    // @if $use-dark-mode == true {

    //     @media screen and (prefers-color-scheme: dark) {

    //         .hljs-type, .hljs-string, .hljs-number, .hljs-selector-id, .hljs-selector-class, .hljs-quote, .hljs-template-tag, .hljs-deletion {
    //             color: var(--color-mid);
    //         }

    //         .hljs-section, .hljs-title {
    //             color: var(--color-mid);
    //             font-weight: 700;
    //         }

    //         .hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
    //             color: var(--color-accent);
    //         }

    //         .hljs-link, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
    //             color: var(--color-accent);
    //         }

    //         .hljs-literal {
    //             color: var(--color-mid);
    //             font-weight: 700;
    //         }
    //     }
        
    // }

}

// suggestive drawing
@if $use-dark-mode == true {
    @media screen and (prefers-color-scheme: dark) {
        .c-veil.c-veil--darkable {
            background-color: #1c1c1c;
        }
    }
}