/* Modified version of Atom One Light */

.c-item-v2 pre,
.c-item-v2 code {
    background: #fafafa;
    border: none;
}

@if $use-dark-mode == true {
    @media screen and (prefers-color-scheme: dark) {
        .c-item-v2 pre,
        .c-item-v2 code {
            background: #222;
        }
    }
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em;
}
code.hljs {
    padding: 3px 5px;
}
.hljs {
    color: #383a42;
    background: #fafafa;
}
.hljs-comment,
.hljs-quote {
    color: #a0a1a7;
    font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
    color: #a626a4;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
    color: #e45649;
}
.hljs-literal {
    color: #0184bb;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
    color: #50a14f;
    color: #00772d;
}
.hljs-number,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type {
    color: #986801;
}
.hljs-variable {
    color: #f37d00;
}
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title,
.hljs-attr,
.hljs-selector-attr {
    color: #4078f2;
    color: #da2a00;
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
    color: #f37d00;
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: 700;
}
.hljs-link {
    text-decoration: underline;
}
