$reset-background-color: transparent !default;
$html-font-size: 100% !default;

html, :root {
    margin: 0;
    min-height: 100%;	
    background-color: $reset-background-color;
    // font-size: $html-font-size;
}

:root {
  font-size: $html-font-size;  
}

html:not(.limit) {
  font-size: $html-font-size;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }
