::selection {
  color: $selection-color;
  background: $selection-background-color; /* WebKit/Blink Browsers */
}

::-moz-selection {
  color: $selection-color;
  background: $selection-background-color; /* Gecko Browsers */
}
