
/*--------------------------------
   Type
   Custom Type Setting
--------------------------------*/

// DEFAULTS

// Font Variables
$type-font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif !default;
$type-font-color: #222 !default;

// Link Variables
$type-link-color: auto !default;
$type-link-text-decoration: none !default;

html, :root {
    font-family: $type-font-family;
    color: $type-font-color;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

a {
    color: $type-link-color;
    text-decoration: $type-link-text-decoration;
}

a:active {
    outline: none;
}
